@import "tailwindcss";

@layer utilities {
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
}

:root {
  --primary: #008751;
  --primary-dark: #00683e;
  --gold: #FFD700;
}
